<!DOCTYPE html>
<html lang="en" ng-app="fitly">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fitly</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="css/admin-dash.css"/>
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>FitLy</h3>
                <strong>FitLy</strong>
            </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <a href="#">
                        <i class="glyphicon glyphicon-home"></i>
                        Home
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-user"></i>
                        Manage Clients
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-magnet"></i>
                        Settings
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-bookmark"></i>
                        FAQ
                    </a>
                </li>
                <li ng-controller="LogoutCtrl as logoutCtrl">
                    <a ng-href="#" ng-click="logoutCtrl.logout()">
                        <i class="glyphicon glyphicon-log-out"></i>
                        Log Out
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Page Content Holder -->
        <div id="content">

                <ui-view></ui-view>
            
        </div>
    </div>

</body>
<!-- declare all other client-side dependencies here -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<!-- to manage states within system -->
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<!-- application functionalities -->
<script src="app/app.js"></script>
<!-- <script src="app/app.config.js"></script>
<script src="views/search.controller.js"></script>
<script src="services/user.services.js"></script> -->
</html>