@import url('https://fonts.googleapis.com/css?family=Asap+Condensed');
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}


.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i, span {
    display: inline-block;
}

h4 {
    margin-left: 15px;
    margin-bottom: 20px;
}

.sah4 {
    margin-left: 25px;
}

.form-con {
    margin-top: 40px;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebarCollapse {
    width: 40px;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #2F323A;
    color: #fff;
    transition: all 0.3s;
}

.sidebar-header > h3 {
    font-size: 24px;
    font-weight: bold;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3, #sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #2F323A;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.4em;
}

.sidebar-header .sidebar-header strong{
    font-family: 'Kameron', serif;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
    padding: 21px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #2F323A;
    background: #fff;
}
#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #0070c0;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    LOGIN STYLE
----------------------------------------------------- */

.brand-light {
    margin-top: 140px;
    margin-bottom: 50px;
}

.btn-primary {
    margin-right: 17px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    width: 100%;
    position: relative;
}

/* ---------------------------------------------------
    BUTTON STYLES
----------------------------------------------------- */
.btn-info{
    background: #0070c0;
}

.btn-group:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
    -webkit-transition: all 5s ease-in;
    -moz-transition: all 5s ease-in;
    -ms-transition: all 5s ease-in;
    -o-transition: all 5s ease-in;
    transition: all 5s ease-in;
    }

.flmenu {
width: 160px!important;
height: 100px!important;
margin:5px;
display:block !important;
padding-top:23px;
color:#f5f5f5;
}

.span-icon{ font-size:30px;}

.flmenu:hover{ background-color:#f5f5f5 !important; cursor:pointer; color:#CCCCCC;}

.flmenu1{
background-color: #000000;
}
.flmenu2{
background-color: #00B159;
}
.flmenu3{
background-color: #00AEDB;
}
.flmenu4{
background-color: #F37735;
}
.flmenu5{
background-color: #EC098C;
}
.flmenu6{
background-color: #314E6C;
}
.flmenu7{
background-color: #44A5AC;
}
.flmenu8{
background-color: #297E83;
}
.flmenu9{
background-color:#CC3366;
}
.flmenu10{
background-color: #C9312C;
}
.flmenu11{
background-color:#6699CC;
}
.flmenu12{
background-color: #7C4199;
}
.flmenu13{
background-color: #FFC425;
}
.flmenu14{
background-color: #034A8C;
}
.flmenu15{
background-color: #E59B18;
}
.flmenu16{
background-color: #006054;
}
.flmenu17{
background-color: #44A5AC;
}
.flmenu18{
background-color: #336797;
}
.flmenu19{
background-color: #3B3E45;
}

/* ---------------------------------------------------
    SEARCH INPUT BOX
----------------------------------------------------- */

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 0;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

.usrsrch {
    margin-left: 15px;
    margin-right: 15px;
}

.usrscrhfrm {
    border-radius: 0 !important;
}

.usrsrchbtn {
    border-radius: 0 !important;
}

/* ---------------------------------------------------
    USER TABLE - MY CLASSES
----------------------------------------------------- */
.custab{
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    }
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    }

.custyle{
    width: 100% !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.btn-primary {
    margin-bottom: 10px;
}

.addnew {
    margin-top: 20px;
    margin-right: 0px;
}

/* ---------------------------------------------------
    USER PROFILE
----------------------------------------------------- */

.profile.header {
    margin-top: 0;
}

/* ---------------------------------------------------
    MEDIA QUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important ;
    }
    a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }

    #sidebar .sidebar-header h3, #sidebar .CTAs {
        display: none;
    }

    #sidebar .sidebar-header strong {
        display: block;
    }

    #sidebar ul li a {
        padding: 20px 10px;
    }

    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right:  0;
        display: block;
    }

    #sidebar ul ul a {
        padding: 10px !important;
    }

    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
