<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header nav navbar-nav navbar-left">
                <h3>Welcome, Super Admin</h3>
        </div>

    </div>
</nav>

<div>
<h4 class="sah4">Superadmin Panel</h4>
</div>

<div class="container-fluid"></div>
        <!-- Search Form -->
        <form role="form" class="usrsrch">
        
        <!-- Search Field -->
            <div class="row">
                <div class="form-group">
                    <div class="input-group col-md-12">
                        <input class="form-control usrscrhfrm" id="searchString" type="text" name="searchString" ng-model = "listCtrl.keyword" placeholder="Search for a user" />
                        <span class="input-group-btn">
                            <button class="btn btn-success usrsrchbtn" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></button>
                        </span>
                        </span>
                    </div>
                </div>
            </div>
            
        </form>
        <!-- End of Search Form -->
</div>




    <!-- <div class="container-fluid">
        <div class="row">
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input id="searchString" type="text" class="form-control input-lg" name="searchString" ng-model = "listCtrl.keyword" size="8" placeholder="Search for a user" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-info btn-lg" ng-click="listCtrl.getList()">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
        </div>
    </div> -->

    <div class="table table-responsive">
        <div class="row custyle">
        <table class="table table-striped custab">
            <thead>
                <!-- <a ng-href="#" ng-click="listCtrl.addUser()" class="btn btn-primary btn-xs addnew pull-right"><span class="glyphicon glyphicon-plus-sign"></span> Add a New Trainer</a>  -->
                <button type="button" class="btn btn-primary btn-xs addnew pull-left" ng-click="listCtrl.addUser()"><span class="glyphicon glyphicon-plus-sign"></span>Add a New Trainer</button>
                    <tr>
                        <th>User ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Qualifications</th>
                        <th class="text-center">Action</th>
                    </tr>
            </thead>
            <tr ng-repeat="user in listCtrl.users">
                <td>{{ user.uid }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.email }}</td>
                <td><span ng-repeat="qualify in user.userqualifies">
                    [{{ qualify.qualification.q_name }}]</span></td>
                <td class="text-center">
                <button type="button" class='btn btn-success btn-xs' ng-click="listCtrl.viewUser(user.uid)"><span class="glyphicon glyphicon-eye-open"></span> View Trainer</button>
                        
                <!-- <a class='btn btn-success btn-xs' href="#" ng-click="listCtrl.viewUser(user.uid)"><span class="glyphicon glyphicon-eye-open"></span> View</a> -->
                <!-- <button type="button" class='btn btn-info btn-xs' href="#" ng-click="listCtrl.editUser()"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                <button type="button" class="btn btn-danger btn-xs" href="#"  ng-click="listCtrl.deleteUser()"><span class="glyphicon glyphicon-remove"></span> Delete</button> -->
                </td>
            </tr>
        </table>
    </div>